.container {
    display: flex;
    flex-direction: column;
}

.row {
    align-self: center;
    margin-bottom: 35px;
    width: 100%;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}