@import '../styles/variables.scss';


.base {
    font-size: $text-size-base;
}

.large {
    font-size: $text-size-large;
}

.xl {
    font-size: $text-size-xl;
}

.title {
    color: $primary-900;
}

.disabled {
    color: $primary-50
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 600;
}